.comment-wrapper {
  box-sizing: border-box;
  background-color: white;
  transition: 4s all ease-in-out;
  .comment-wrapper-sub {
    padding: 20px 10px;
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    .left {
      width: 50px;
      height: 50px;
      background-color: blue;
      border-radius: 100%;
      margin-right: 20px;
      display: flex;
      justify-content: center;
      align-items: center;

      i {
        font-size: 28px;
        color: white;
      }
    }

    .right {
      .name {
        font-size: 14px;
        background-color: #414a4c;
        color: white;
        width: fit-content;
        padding: 2px 10px;
        font-weight: 500;
        border-radius: 2px;

      }
      .date, .time{
        font-size: 14px;
        margin-left: 15px;
      }
      .comment {
        margin: 8px 0 2px 0;
        font-size: 21px;
      }
      .action-wrapper{
        margin-left: -8px;
      }
      button {
        background: transparent;
        border: none;
        font-size: 14px;
        margin-right: 4px;
        padding: 3px 8px;
        font-weight: 500;

        &:hover {
          text-decoration: dashed;
          background-color: rgba(#959595, 0.4);
        }
      }
    }
  }
  .reply-wrapper {
    width: fit-content;
    .comment-wrapper {
      margin-top: -30px;
      .comment-wrapper-sub {
        margin-left: 60px;
        .left {
          width: 38px;
          height: 38px;
          background-color: rgb(3, 3, 169);
          i {
            font-size: 20px;
          }
        }

        .right {
          .name {
            font-size: 12px;
            background-color: #414a4c;
            padding: 2px 8px;
            font-weight: 500;
            border-radius: 2px;
          }
          .comment {
            font-size: 18px;
          }
          .action-wrapper{
            .reply{
                display: none;
            }
          }
          button {
            font-size: 13px;
            margin-right: 2px;
            padding: 3px 7px;
          }
        }
      }
    }
  }
}

p {
  margin: 0;
}
textarea {
  width: 100%;
}
